	<div class="panel panel-default">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 textIntroduction">
				<h1>
					Etudiants, personnels et visiteurs, découvrez la Biodiversité des campus de l’UPS
				</h1>
				<p>
					Orchidée au coin d’une pelouse, champignon au pied d’un arbre, insecte butinant une fleur : nous croisons quotidiennement « la biodiversité » sur nos campus sans pour autant la connaître et la valoriser. C’est pourquoi, l’UPS vous propose « Biodiv’UPS », un atlas en ligne qui recense le patrimoine naturel des campus de l’université pour le découvrir, l’étudier, et mieux le protéger.
				</p>
				<p>
					Biodiv’UPS vous donne à voir les animaux, champignons et végétaux inventoriés à proximité de vos bâtiments et de vos lieux de pause et vous permets de découvrir les comportements et particularités des espèces « ordinaires » et « remarquables » qui vous entourent. En retour, vous pouvez alimenter  Biodiv’UPS en saisissant vos propres observations sur Geonat’Occitanie, Faune France ou via les applications mobiles Naturalist ou Biodivercity.
				</p>
				<p>
					<a href="{{url_for('main.get_staticpages', page='presentation') }}" class="btn btn-default">En savoir plus</a>
				</p>
			</div>
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<img src="{{url_for('static', filename='custom/images/paulSab.jpg') }}" width="100%" alt="{{configuration.NOM_APPLICATION}}">
			</div>
		</div>
	</div>
