<!-- Réalisée à partir de https://startbootstrap.com/template-overviews/one-page-wonder/ et http://getbootstrap.com/examples/carousel/ -->
<!DOCTYPE html>
<html>
   <head>
        <meta charset="utf-8" />
        <title>Partenaires | Biodiv'UPS</title>

        <!-- Jquery -->
        <script type=text/javascript src="{{url_for('static', filename='lib/jquery-1.12.4.min.js') }}"></script>
		<script type=text/javascript src="{{url_for('static', filename='lib/jquery-ui.min.js') }}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='lib/jquery-ui.css') }}" />

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}"></link>
        <script type=text/javascript src="{{url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>

        <!-- Atlas -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='custom/images/favicon.ico') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/atlas.css') }}" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/static_pages.css') }}" />
        <link rel="stylesheet" href="{{url_for('static', filename='custom/custom.css') }}" />

   </head>
   <body  data-spy="scroll" data-target="#sommaire">
    {% include 'templates/navbar.html' %}

		<div id="sideBar">
			{% include 'templates/sideBar.html' %}
		</div>
		<div class="container-fluid" id="page">


           
            <div class="container presentation">
              
            

                  <h2 id="general">Service de Gestion et d’Exploitation (SGE)</h2>
                  <p class="lead">
                    Service du rectorat de l’académie de Toulouse, le SGE est en charge de la gestion du campus de Rangueil pour ce qui concerne son aménagement et sa gestion quotidienne. Ainsi, le SGE assure la gestion des espaces verts du campus de Rangueil en poursuivant un objectif de conciliation entre des enjeux économiques, esthétiques, écologiques et pédagogiques.
                  </p>
                  <p class="lead">
                    Le SGE planifie l’accroissement du patrimoine arboré du campus et assure son entretien en favorisant la plantation d’espèces locales et récemment d’espèces fruitières. Il collabore aussi avec les équipes d’enseignements pour planter des espèces d’intérêt pédagogique pour les travaux pratiques de floristique et biologie végétale où conserver un arbre mort hôte de biodiversité.
                  </p>
                  <p class="lead">
                    Les SGE est moteur dans l’évolution des pratiques de gestion du campus pour une prise en compte croissante des enjeux de biodiversité et durabilité.<br><br>
                  </p>

                  <h2 id="general">Nature en Occitanie (NeO)</h2>
                  <p class="lead">
                    Association de protection de la nature basée à Toulouse, NeO se consacre à la connaissance du patrimoine naturel de la région Occitanie et à sa sauvegarde. Forts d’une expertise écologique et naturaliste dans divers domaines (zones humides, milieux forestiers, herpétologie, entomologie, ornithologie…),  son équipe de salariés et son réseau de bénévoles assurent la gestion de sites naturels, accompagne l’état, la région et les collectivités pour une application des politiques publiques d’aménagement du territoire plus respectueuse des enjeux environnementaux.
                  </p>
                  <p class="lead">
                    Nature en Occitanie est un acteur majeur de la connaissance naturaliste régionale à travers l’acquisition de données de biodiversité concernant les espèces communes comme les espèces rares et protégées. L’association porte aussi ou contribue à la réalisation d’atlas de Biodiversité communale, l’élaboration de plans d’urbanismes et à la rédaction de listes rouges régionales et de plans régionaux d’actions en faveur des espèces menacées.
                  </p>
                  <p class="lead">
                    Nature en Occitanie a apporté un soutien technique dans la construcion de Biodiv’UPS et contribue à l’inventaire de la Biodiversité du Campus au travers de l’outil de saisie de données en ligne « Geonat’Occitanie ».
                  </p>
                  <p class="lead">
                    Pour plus d’information :
                    <a href="http://www.naturemp.org"> http://www.naturemp.org/</a>
                      <br><br> 
                  </p>

                  <h2 id="general">Biodivercity</h2>
                  <p class="lead">
                    Application de sensibilisation du public à la Biodiversité, Biodivercity vise à inciter tous les publics, étudiants, personnels et autres usagers de l’Université à réaliser des observations naturalistes géolocalisées de la biodiversité sur leur campus.
                    Cet outil informatique développé dans le cadre d’un partenariat entre le laboratoire d’Ecologie fonctionnelle et Environnement (UMR 5245) et l’Institut de recherche en informatique de Toulouse (IRIT, UMR 5505) est disponible sur téléphone portable. Il permet aux curieux de nature de prendre un cliché géolocalisé d’une espèce (végétale, animale fongique) et de bénéficier d’une assistance pour son identification si celle-ci est possible.<br> Biodivercity contribue donc à :

                  </p>
                  <p class="margelead">
                    - Sensibiliser les usagers grâce à une démarche participative et pédagogique<br><br>

                    - Cartographier la biodiversité sur le campus et géolocaliser les espèces à enjeux<br><br>

                    - Améliorer la qualité de vie sur le campus en préservant son cadre naturel et sa richesse biologique<br><br>

                  </p>
                  <p class="lead">
                    <a href="https://www.irit.fr/neocampus/fr/realisationss/post/102/biodivercity-l-application-de-geolocalisation-de-la-biodiversite-sur-les-campus"> https://www.irit.fr/neocampus/fr/realisationss/post/102/biodivercity-l-application-de-geolocalisation-de-la-biodiversite-sur-les-campus</a>
                    <br><br>
                  </p>



                  <h2 id="general">VeraCruz</h2>
                  <p class="lead">
                    Veracruz est l'association naturalise et écologiste de l'Université Toulouse III Paul Sabatier. Elle est ouverte à tous les publics - étudiants, personnels et autres - et a pour buts la sensibilisation aux problématiques écologiques et la préservation de l'Environnement.
                  </p>
                  <p class="lead">
                   L'association a en charge la gestion du "Sentier Nature", une zone boisée de 2,2 ha dont elle a assurer la protection contre des projets de développement urbain et maintenant classée zone d'intérêt écologique, flortistique et faunistique. Depuis 1997, les Veracruziens s'y retrouvent pour inventorier et suivre la biodiversité du site, entretenir le potager partagé, pratiquer l'apiculture ou juste pour prendre un bol d'air entouré de chants d'oiseaux. Et quand il le faut : pour évacuer des déchets (!)
                  </p>
                  <p class="lead">
                   Veracruz a à cœur de sensibiliser les acteurs de la vie universitaire et organise des animations, des conférences et projections. Les Veracruziens agissent également pour protéger les milieux naturels, la biodiversité et la qualité de vie en promouvant les transports en commun et en dialoguant avec les collectivités pour la préservation de la trame verte et bleue.<br><br>
                  </p>
                   <p class="lead">
                   <a href="http://veracruz.e-monsite.com/"> http://veracruz.e-monsite.com/</a>
                   <br><br>
                  </p>
            </div>


        </div>

		{% if configuration.AFFICHAGE_FOOTER %}
			{% include 'static/custom/templates/footer.html' %}
		{% endif %}

        <script type="text/javascript">
        var configuration = {{configuration|tojson}};
        </script>

        <script src="{{url_for('static', filename='main.js') }}"></script>

   </body>
</html>
