<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Biodiv'UPS</title>

        <!-- Jquery -->
        <script type="text/javascript" src="{{url_for('static', filename='lib/jquery-1.12.4.min.js') }}"></script>
				<script type="text/javascript" src="{{url_for('static', filename='lib/jquery-ui.min.js') }}"></script>
				<script type="text/javascript" src="{{url_for('static', filename='lib/jquery.lazy/jquery.lazy.min.js') }}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='lib/jquery-ui.css') }}" />

		<!-- Bootstrap -->
        <link rel="stylesheet" href="{{url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}"></link>
        <script type="text/javascript" src="{{url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>

        <!-- Leaflet -->
        <link rel="stylesheet" href="{{url_for('static', filename='lib/leaflet/leaflet.css') }}" />
        <script src="{{url_for('static', filename='lib/leaflet/leaflet.js') }}"></script>
        <script src="{{url_for('static', filename='lib/leaflet/leaflet-fullscreen/leafletFullScreen.min.js') }}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='lib/leaflet/leaflet-fullscreen/leafletFullScreen.css') }}" />
        <script type="text/javascript" src="{{url_for('static', filename='dist/leaflet-slider.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='dist/leaflet-slider.css') }}">

		<!-- fontawesome -->
        <script src="{{url_for('static', filename='lib/node_modules/@fortawesome/fontawesome-free/js/all.min.js') }}"></script>

		<!-- CSS Application -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='custom/images/favicon.ico') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/atlas.css') }}" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/index.css') }}" />
        <link rel="stylesheet" href="{{url_for('static', filename='custom/custom.css') }}" />
    </head>

    <body>

        {% include 'templates/navbar.html' %}
		<div id="sideBar">
			{% include 'templates/sideBar.html' %}
		</div>
		<div class="container-fluid" id="page">

			<!-- Introduction -->
			{% if configuration.AFFICHAGE_INTRODUCTION %}
				{% include 'static/custom/templates/introduction.html' %}
			{% endif %}

			{% if configuration.AFFICHAGE_STAT_GLOBALES %}
			<!-- Statistiques globales -->
					<div class="panel panel-default stat-panel">
						<div class="panel-heading padding-sm ">
								<strong><h3 class="title-spaced"> <i class="fas fa-chart-line icon-color-title">&nbsp;</i> En quelques chiffres</h3></strong>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class ="col-lg-3 col-md-3 col-sm-6 col-xs-12 stat-object">
									<div class="stat-thumbnail border">
										<i class="fas fa-search font-icon blue"></i>	<input id="hiddenInputTaxonStat" type="hidden" name="cd_ref">
											<h1 class="large muted">{{stat.nbTotalObs | pretty}}</h1>
										<h4 class="text-muted"> {{ 'observations' if stat.nbTotalObs > 1 else 'observation'}}</h4>
										<p><a id="localScroll" href="#DernieresObservations" class="btn btn-default" role="button">Voir les dernières observations</a></p>
									</div>
								</div>
								<div class = "col-lg-3 col-md-3 col-sm-6 col-xs-12 stat-object">
									<div class="stat-thumbnail border">
										<i class="fas fa-leaf font-icon"></i>									
										<h1 class="large muted">{{stat.nbTotalTaxons | pretty}}</h1>
										<h4 class="text-muted"> {{ 'espèces' if stat.nbTotalTaxons > 1 else 'espèce' }}</h4>
										<form method="POST" id="searchFormTaxonsStat" class="navbar-form" role="search">
											<div class="form-group has-feedback">
												<input id="searchTaxonsStat" type="text" class="form-control" placeholder="Rechercher une espèce &nbsp; &nbsp; &nbsp;" loading="false" />
												<i class="glyphicon glyphicon-search form-control-feedback"></i>
												<input id="hiddenInputTaxonStat" type="hidden" name="cd_ref">
											</div>
														</form>
									</div>
								</div>
								<div class ="col-lg-3 col-md-3 col-sm-6 col-xs-12 stat-object">
									<div class="stat-thumbnail border">
										<i class="glyphicon fas fa-building font-icon blue"></i>
										<h1 class="large muted">{{stat.town | pretty}}</h1>
										<h4 class="text-muted"> Bâtiment et ses environs</h4>
										<form method="POST" onsubmit="completeAction('#searchFormCommunesStat', hiddenInputCommunesStat)" id='searchFormCommunesStat' action=""  class="navbar-form" role="search">
											<div class="form-group has-feedback">
												<input id="searchCommunesStat" type="text" class="form-control" placeholder="Rechercher un bâtiment" />
												<i class="glyphicon glyphicon-search form-control-feedback"></i>
												<input id="hiddenInputCommunesStat" type="hidden" name="insee">
											</div>
											<span title="Mettre le nom du bâtiment seulement (ex : U3)"><i class="fas fa-question-circle" style="margin-left:5px; font-size:20px"></i></span>
										</form>
									</div>
								</div>
								<div class ="col-lg-3 col-md-3 col-sm-6 col-xs-12 stat-object">
									<div class="stat-thumbnail">
										<i class="fas fa-camera font-icon"></i>
											<h1 class="large muted">{{stat.photo | pretty}}</h1>
										<h4 class="text-muted"> {{ 'photos' if stat.photo > 1 else 'photo' }}</h4>
										<p><a href="{{url_for('main.photos')}}" class="btn btn-default" role="button">Galerie photos</a></p>
									</div>
								</div>
							</div>
					</div>
				</div>

			{% endif %}



			<!-- Statistiques par rang taxonomique -->
			<!--
					<div class="panel panel-default">
							<div class="panel-heading padding-sm ">
									<h3 class="title-spaced"><span class="glyphicon glyphicon-eye-open icon-color-title"></span> &nbsp;Espèces à découvrir</h3>
							</div>
							<div class="row row-medias">

					<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 stat-medias-wrapper">
					<div class="statMedias">
						<div class="">
							<h4 class="title-spaced title-bar" >Fone</h4>
						</div>

								<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-stat-medias">
									<div class ="thumbnail-stat-medias">
										<div class="zoom-wrapper">
											

										    	  <div class="img-custom-medias cover"></div>

										    	<div class="stat-medias-hovereffet">
										    		<img src="{{url_for('static', filename='images/eye.png') }}">
										    		<h2 class="overlay-obs">Titre niv 2</h2>
										    	</div>
											</a>
										</div>
									    <div class="thumbnail-caption-medias" >
						
									        <p><a class="btn btn-default" role="button">Fiche espèce</a></p>
									    </div>
									</div>
								</div>

							</div>
					</div>


					</div>
				</div>
-->			<!-- Espèces à découvrir -->
			<div class="panel panel-default">

				<div class="panel-heading padding-sm ">
							<h3 class="title-spaced"><span class="glyphicon glyphicon-eye-open icon-color-title"></span> &nbsp;Espèces à découvrir</h3>
				</div>

				<div class="row row-medias">
					
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 stat-medias-wrapper">
					
					<div class="statMedias">
						<div class="">
							<h4 class="title-spaced title-bar">Faune</h4>
						</div>
						
					
						
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-stat-medias">
									<div class="thumbnail-stat-medias">
										<div class="zoom-wrapper">
											<a id = "imageFaune1">

                          						<div id = "mediaFaune1">
										    	  
                          						</div>

										    	<div class="stat-medias-hovereffet">
										    		<img src="/static/images/eye.png">
										    		<!-- <h2 class="overlay-obs">2 observations</h2> -->
										    	</div>
											</a>
										</div>
								    <div class="thumbnail-caption-medias">
									    	<p id= "fauneValide1"> </p>
									        <p id= "fauneLatin1"> </p>
									        <p id = "ficheFaune1"></p>
									    </div>
									</div>
								</div>
						
					
						
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-stat-medias">
									<div class="thumbnail-stat-medias">
										<div class="zoom-wrapper">
											<a id = "imageFaune2">
                          						
										    	 <div id = "mediaFaune2">
										    	  
                          						 </div>
                          						
										    	<div class="stat-medias-hovereffet">
										    		<img src="/static/images/eye.png">
										    		<!-- <h2 class="overlay-obs">44 observations</h2> -->
										    	</div>
											</a>
										</div>
									    <div class="thumbnail-caption-medias">
									        <p id= "fauneValide2"> </p>
									        <p id= "fauneLatin2"> </p>
									        <p id = "ficheFaune2"></p>
									    </div>
									</div>
								</div>
						
					
							</div>
					</div>

			
					
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 stat-medias-wrapper">
					
					<div class="statMedias">
						<div class="">
							<h4 class="title-spaced title-bar">Flore</h4>
						</div>
						
					
						
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-stat-medias">
									<div class="thumbnail-stat-medias">
										<div class="zoom-wrapper">
											<a id = "imageFlore1">
                          						
										    	  <div id = "mediaFlore1">
										    	  
                          						</div>
                          						
										    	<div class="stat-medias-hovereffet">
										    		<img src="/static/images/eye.png">
										    		<!-- <h2 class="overlay-obs">407 observations</h2> -->
										    	</div>
											</a>
										</div>
									    <div class="thumbnail-caption-medias">
									        <p id= "floreValide1"> </p>
									        <p id= "floreLatin1"> </p>
									        <p id = "ficheFlore1"></p>
									    </div>
									</div>
								</div>
						
					
						
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-stat-medias">
									<div class="thumbnail-stat-medias">
										<div class="zoom-wrapper">
											<a id = "imageFlore2">
                          						
										    	  <div id = "mediaFlore2">
										    	  
                          						</div>
                          						
										    	<div class="stat-medias-hovereffet">
										    		<img src="/static/images/eye.png">
										    		<!-- <h2 class="overlay-obs">11 observations</h2> -->
										    	</div>
											</a>
										</div>
									    <div class="thumbnail-caption-medias">
									        <p id= "floreValide2"> </p>
									        <p id= "floreLatin2"> </p>
									        <p id = "ficheFlore2"></p>
									    </div>
									</div>
								</div>
						
					
							</div>
					</div>

			
					
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 stat-medias-wrapper">
					
					<div class="statMedias">
						<div class="">
							<h4 class="title-spaced title-bar">Fonge</h4>
						</div>
						
					
						
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-stat-medias">
									<div class="thumbnail-stat-medias">
										<div class="zoom-wrapper">
											<a id = "imageFonge1">
                          						
										    	  <div id = "mediaFonge1">
										    	  
                          						</div>
                          						
										    	<div class="stat-medias-hovereffet">
										    		<img src="/static/images/eye.png">
										    		<!-- <h2 class="overlay-obs">76 observations</h2> -->
										    	</div>
											</a>
										</div>
									    <div class="thumbnail-caption-medias">
									        <p id= "fongeValide1"> </p>
									        <p id= "fongeLatin1"> </p>
									        <p id = "ficheFonge1"></p>
									    </div>
									</div>
								</div>
						
					
						
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-stat-medias">
									<div class="thumbnail-stat-medias">
										<div class="zoom-wrapper">
											<a id = "imageFonge2">
                          						
										    	  <div id = "mediaFonge2">
										    	  
                          						</div>
                          						
										    	<div class="stat-medias-hovereffet">
										    		<img src="/static/images/eye.png">
										    		<!-- <h2 class="overlay-obs">37 observations</h2> -->
										    	</div>
											</a>
										</div>
									    <div class="thumbnail-caption-medias">
									        <p id= "fongeValide2"> </p>
									        <p id= "fongeLatin2"> </p>
									        <p id = "ficheFonge2"></p>
									    </div>
									</div>
								</div>
						
					
							</div>
					</div>

			
					</div>
				</div>





			{% if configuration.AFFICHAGE_DERNIERES_OBS %}
			<!-- Dernières espèces observées (Carte et liste) -->
			<div id="DernieresObservations">
					<div class="panel panel-default" >
								
					  	<div class="panel-heading padding-sm ">
							  <h3 class="title-spaced"> <i class="fas fa-binoculars icon-color-title"></i> 
								{{configuration.TEXT_LAST_OBS}} {{observations | length}} {{ 'observations' if observations | length > 1 else 'observation' }}
							</h3>
						</div>

							

								<h4 class="title-spaced" style="margin-left:10px">Changer de campus :</h4>
								<div class="btcampus" style="margin-left:10px">
									<p><a class="btn btn-default" onClick="paulSabMap()" role="button">Paul Sabatier</a></p>
								</div>
								<div class="btcampus" style="margin-left:10px">
									<p><a class="btn btn-gris" title="Arrive prochainement" onClick="auchMap()" role="button">Auch</a></p>
								</div>
								</br>
								<div class="btcampus" id="trier" style="margin-left:10px">
									<h4 class="title-spaced">Filtrer par :</h4>
									<img id= "amphibiens" src = '/atlas/static/images/picto_Amphibiens.png' onclick="amphibien()" style="border:none" title="Amphibiens">
									<img id= "angiosperme" src ='/atlas/static/images/picto_Angiospermes.png' onClick="angiosperme()" style="border:none" title="Angiospermes">
									<img id= "annelides" src = '/atlas/static/images/picto_Annelides.png' onclick="annelide()" style="border:none" title="Annelides">
									<img id= "arachnides" src = '/atlas/static/images/picto_Arachnides.png' onclick="arachnide()" style="border:none" title="Arachnides">
									<img id= "bivalves" src = '/atlas/static/images/picto_Bivalves.png' onclick="bivalve()" style="border:none" title="Bivalves">

									<img id= "champignons" src = '/atlas/static/images/picto_Champignons.png' onclick="champignon()" style="border:none" title="Champignons">
									
									<img id= "crustaces" src = '/atlas/static/images/picto_Crustaces.png' onclick="crustace()" style="border:none" title="Crustaces">
									<img id= "fougeres" src = '/atlas/static/images/picto_Fougeres.png' onclick="fougere()" style="border:none" title="Fougeres">
								        <img id= "gasteropodes" src = '/atlas/static/images/picto_Gasteropodes.png' onclick="gasteropode()" style="border:none"   		title="Gasteropodes">
									<img id= "gymnospermes" src = '/atlas/static/images/picto_Gymnospermes.png' onclick="gymnosperme()" style="border:none" title="Gymnospermes">
									<img id= "hepatiques" src = '/atlas/static/images/picto_Hepatiques_et_Anthocerotes.png' onclick="hepatique()" style="border:none" title="Hepatiques et Anthocerotes">
									<img id= "insecte" src ='/atlas/static/images/picto_Insectes.png' onClick="insecte()" style="border:none" title="Insectes">
									<img id= "mammiferes" src = '/atlas/static/images/picto_Mammiferes.png' onclick="mammifere()" style="border:none" title="Mammiferes">
									<img id= "mousses" src = '/atlas/static/images/picto_Mousses.png' onclick="mousse()" style="border:none" title="Mousses">
									<img id= "myriapodes" src = '/atlas/static/images/picto_Myriapodes.png' onclick="myriapode()" style="border:none" title="Myriapodes">
									<img id= "oiseaux" src = '/atlas/static/images/picto_Oiseaux.png' onclick="oiseau()" style="border:none" title="Oiseaux">
									<img id= "poissons" src = '/atlas/static/images/picto_Poissons.png' onclick="poisson()" style="border:none" title="Poissons">
									<img id= "reptiles" src = '/atlas/static/images/picto_Reptiles.png' onclick="reptile()" style="border:none" title="Reptiles">
									<img id= "autre" src ='/atlas/static/images/picto_Autres.png' onClick="autre()" style="border:none" title="Autre">
								</div>
							


						<div id="observations" style="margin-left:10px; margin-top:10px; margin-bottom:7px">
						   <p style="font-size:20px; display:inline-block" id="jours"></p>	
  						      <span style="display:inline-block" title="Modifier J+ sur la carte pour changer de valeur"><i class="fas fa-question-circle" style="margin-left:5px; font-size:20px"></i></span>
						   					   
						</div>
						

					  	<div class="row" id="mapRow" style="margin-top:5px">
							<!-- CARTE des dernières observations -->
							<div id="blocMap" class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
								<div id="map"></div>
							</div>
							<!-- LISTE des dernières observations -->
							<div id="listMap" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
								<table id='tableEspece' class="table">

									<tbody>
										{% for obs in observations %}
										<tr class='tabEspece' idSynthese = "{{obs.id_observation}}">
											<!-- <td class="singleTaxon img">
											<div class ="pictoImg" style="background-image:url({{configuration.TAXHUB_URL}}/api/tmedias/thumbnail/{{obs.id_media}}?h=60&w=60);" data-toggle="tooltip" data-original-title="{{obs.group2_inpn}}" data-placement="left"></div>
										</td> -->
										<td class="singleTaxon img">
											{% if obs.pathImg == None %}
											<img class="singleTaxon" width="80%" src="{{url_for('static', filename='images/picto_' + obs.group2_inpn | replace(" ", "_") +'.png')}}" data-toggle="tooltip" data-original-title="{{obs.group2_inpn}}" data-placement="left">
											{% else %}
												{% if configuration.REDIMENSIONNEMENT_IMAGE %}
													{% set img_path = configuration.TAXHUB_URL+'/api/tmedias/thumbnail/'+obs.id_media|string+'?h=500&w=500' %}
												{% else %}
													{% set img_path = obs.pathImg %}
												{% endif %}
												<div class ="pictoImg pictoImgSmall lazy" data-src="{{img_path}}" ></div>
											{% endif %}
										</td>
										<td class="singleTaxon name" cdref="{{obs.cd_ref}}" > {{obs.taxon}}</td>
										<td class="singleTaxon date"> {{obs.dateobs}} </td>
										<td class="singleTaxon detail">
											<a href = "{{url_for('main.ficheEspece',cd_ref=obs.cd_ref)}}">
												<span class="glyphicon glyphicon-list" data-toggle="tooltip" data-original-title="Consulter la fiche espèce" data-placement="left"> </span>
											</a>
                      					</td>
										<td class="hiddenTd" hidden="true">{{obs.cd_ref}}</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							 </div>
						</div>
					</div>
			</div>
			{% endif %}

			{% if configuration.AFFICHAGE_EN_CE_MOMENT %}
			<!-- ESPECES PERIODE -->
			<div id="mostViewNow">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="title-spaced">A voir en ce moment 
							<span class="glyphicon glyphicon-question-sign helpTip" data-toggle="tooltip" data-original-title="Espèces les plus observées dans les 15 jours précédents et suivants aujourd'hui, toutes années confondues" 
							data-placement="right"></span>
						</h3>
					</div>
					<div class="row thumbnail-row">
					{% for tax in mostViewTaxon %}
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 thumbnail-col">
						    <div class="hovereffect">
						        {% if tax.path == None %}
                      <img class="default-logo " src="{{url_for('static', filename='images/picto_' + tax.group2_inpn | replace(" ", "_") +'.png') }}" alt="">
						        {% else %}
                      {% if configuration.REDIMENSIONNEMENT_IMAGE %}
                        <div class ="pictoImg pictoImgMedium" style="background-image:url({{configuration.TAXHUB_URL}}/api/tmedias/thumbnail/{{tax.id_media}}?h=500&w=500);" data-toggle="tooltip" data-original-title="{{tax.group2_inpn}}" data-placement="left"></div>
                      {% else %}
						            <div class="img-responsive-logo" style="background-image:url({{tax.path}})"> </div>
                      {% endif %}
						        {% endif %}
						        <div class="overlay">
						           <h2>{{tax.taxonName}}</h2>
						           <a class="info" href="{{url_for('main.ficheEspece',cd_ref=tax.cd_ref)}}">Fiche espèce</a>
						        </div>
						    </div>
						</div>
					  {% endfor %}
					</div>
				</div>
			</div>
			{% endif %}


        {% if configuration.AFFICHAGE_FOOTER %}
			{% include 'static/custom/templates/footer.html' %}
		{% endif %}

    	<script type="text/javascript">
  			var observations = {{observations|tojson}}
  			, configuration = {{configuration|tojson}},
  			url_limit_territory = "{{url_for('static', filename='custom/territoire.json') }}";
	  	</script>
	  	<script type="text/javascript" src="{{url_for('static', filename='mapGenerator.js') }}"></script>
		<!--<script> SCRIPT A DECOMMENTER SI ON VEUT ACTIVER LE BOUTON AUCH
			function paulSabMap(){
				var latLon = L.latLng(43.561781, 1.469465);
				var bounds = latLon.toBounds(1500);
				map.setMaxBounds(bounds);
				map.panTo(latLon);
			}
			function auchMap(){
				var latLon = L.latLng(43.646672, 0.577373);
				var bounds = latLon.toBounds(600);
				map.setMaxBounds(bounds);
				map.panTo(latLon);
			}
		</script> -->
	  	<script src="{{url_for('static', filename='custom/maps-custom.js') }}"></script>
		<script src="{{url_for('static', filename='mapHome.js') }}"></script>
			<script src="{{url_for('static', filename='main.js') }}"></script>
			<script>
				// load lazy the images
				$(".lazy").lazy();

				// load lazy on scroll
				$("#tableEspece").scroll(function() {
					$(".lazy").lazy();
				});
			</script>
			<script>
				var slider = L.control.slider(function(value){
					filtrage(value); var a = document.getElementById("jours");
						if(value === "300"){
							a.innerHTML = "Observations observées depuis toujours";
						}
						else{
							a.innerHTML = "Observations observées depuis "+value+" jours";
						}
					}, {id:slider, max:300, min:1, step:1,
				 orientation:'horizontal', value:300, position: 'topleft', size:"250px", syncSlider:true, logo:'J+'
				}).addTo(map);
			</script>

			<script>
				$.get(
			          configuration.URL_APPLICATION + "/api/fonge",
			          function(results) {
			            var rand1 = Math.floor(Math.random()*(results.length-0)+0);
			          	var rand2 = Math.floor(Math.random()*(results.length-0)+0);
			          	
			          	if(rand2==rand1 && rand2 != results.length-1) rand2=rand2+1;
			          	if(rand2==rand1 && rand2 != 0) rand2=rand2-1;
			          	

			            var fongeLatin1 = document.getElementById("fongeLatin1");
			            fongeLatin1.innerHTML="<i>"+results[rand1].nomLatin+"</i>";

			            var fongeValide1 = document.getElementById("fongeValide1");
			            fongeValide1.innerHTML = "<b>"+results[rand1].nomValide+"</b>";

			            var imageFonge1 = document.getElementById("imageFonge1");
			            imageFonge1.href="/espece/"+results[rand1].num;

			            var ficheFonge1 = document.getElementById("ficheFonge1");
			            ficheFonge1.innerHTML="<a href='/espece/"+results[rand1].num+"' class='btn btn-default' role='button'>Fiche espèce</a>"

			            $.get(
							configuration.URL_APPLICATION + "/api/media/"+results[rand1].num,
			          		function(resultsMedia) {
			          			console.log(resultsMedia);
				          		if(resultsMedia.length !== 0) {
				          			var mediaFonge1 = document.getElementById("mediaFonge1"); 
				          			mediaFonge1.innerHTML = "<div class='img-custom-medias cover' style='background-image: url("+resultsMedia[0].url+")'></div>";
				          		} else {
				          			var mediaFonge1 = document.getElementById("mediaFonge1"); 
				          			mediaFonge1.innerHTML = "<div class='img-custom-medias cover' style='background-image: url(https://svgsilh.com/svg/2022697.svg); width:70% ; margin-left:20px'></div>";
				          		}
			          		}

						);


			            var fongeLatin2 = document.getElementById("fongeLatin2");
			            fongeLatin2.innerHTML="<i>"+results[rand2].nomLatin+"</i>";

			            var fongeValide2 = document.getElementById("fongeValide2");
			            fongeValide2.innerHTML = "<b>"+results[rand2].nomValide+"</b>";

			            var imageFonge2 = document.getElementById("imageFonge2");
			            imageFonge2.href="/espece/"+results[rand2].num;

			            var ficheFonge2 = document.getElementById("ficheFonge2");
			            ficheFonge2.innerHTML="<a href='/espece/"+results[rand2].num+"' class='btn btn-default' role='button'>Fiche espèce</a>"

			            $.get(
							configuration.URL_APPLICATION + "/api/media/"+results[rand2].num,
			          		function(resultsMedia) {
			          			console.log(resultsMedia);
				          		if(resultsMedia.length !== 0) {
				          			var mediaFonge2 = document.getElementById("mediaFonge2"); 
				          			mediaFonge2.innerHTML = "<div class='img-custom-medias cover' style='background-image: url("+resultsMedia[0].url+")'></div>";
				          		} else {
				          			var mediaFonge2 = document.getElementById("mediaFonge2"); 
				          			mediaFonge2.innerHTML = "<div class='img-custom-medias cover' style='background-image: url(https://svgsilh.com/svg/2022697.svg); width:70% ; margin-left:20px'></div>";
				          		}
			          		}

						);

			     		console.log(results);
			          }

			        );


				$.get(
			          configuration.URL_APPLICATION + "/api/flore",
			          function(results) {
			            var rand1 = Math.floor(Math.random()*(results.length-0)+0);
			          	var rand2 = Math.floor(Math.random()*(results.length-0)+0);
			          	if(rand2==rand1 && rand2 != results.length-1) rand2=rand2+1;
			          	if(rand2==rand1 && rand2 != 0) rand2=rand2-1;

			            var floreLatin1 = document.getElementById("floreLatin1");
			            floreLatin1.innerHTML="<i>"+results[rand1].nomLatin+"</i>";

			            var floreValide1 = document.getElementById("floreValide1");
			            floreValide1.innerHTML = "<b>"+results[rand1].nomValide+"</b>";

			            var imageFlore1 = document.getElementById("imageFlore1");
			            imageFlore1.href="/espece/"+results[rand1].num;

			            var ficheFlore1 = document.getElementById("ficheFlore1");
			            ficheFlore1.innerHTML="<a href='/espece/"+results[rand1].num+"' class='btn btn-default' role='button'>Fiche espèce</a>"

			            $.get(
							configuration.URL_APPLICATION + "/api/media/"+results[rand1].num,
			          		function(resultsMedia) {
			          			console.log(resultsMedia);
				          		if(resultsMedia.length !== 0) {
				          			var mediaFlore1 = document.getElementById("mediaFlore1"); 
				          			mediaFlore1.innerHTML = "<div class='img-custom-medias cover' style='background-image: url("+resultsMedia[0].url+")'></div>";
				          		} else {
				          			var mediaFlore1 = document.getElementById("mediaFlore1"); 
				          			mediaFlore1.innerHTML = "<div class='img-custom-medias cover' style='background-image: url(https://svgsilh.com/svg/31420.svg); width:70% ; margin-left:20px'></div>";
				          		}
			          		}

						);


			            var floreLatin2 = document.getElementById("floreLatin2");
			            floreLatin2.innerHTML="<i>"+results[rand2].nomLatin+"</i>";

			            var floreValide2 = document.getElementById("floreValide2");
			            floreValide2.innerHTML = "<b>"+results[rand2].nomValide+"</b>";

			            var imageFlore2 = document.getElementById("imageFlore2");
			            imageFlore2.href="/espece/"+results[rand2].num;

			            var ficheFlore2 = document.getElementById("ficheFlore2");
			            ficheFlore2.innerHTML="<a href='/espece/"+results[rand2].num+"' class='btn btn-default' role='button'>Fiche espèce</a>"

			            $.get(
							configuration.URL_APPLICATION + "/api/media/"+results[rand2].num,
			          		function(resultsMedia) {
			          			console.log(resultsMedia);
				          		if(resultsMedia.length !== 0) {
				          			var mediaFlore2 = document.getElementById("mediaFlore2"); 
				          			mediaFlore2.innerHTML = "<div class='img-custom-medias cover' style='background-image: url("+resultsMedia[0].url+")'></div>";
				          		} else {
				          			var mediaFlore2 = document.getElementById("mediaFlore2"); 
				          			mediaFlore2.innerHTML = "<div class='img-custom-medias cover' style='background-image: url(https://svgsilh.com/svg/31420.svg); width:70% ; margin-left:20px'></div>";
				          		}
			          		}

						);

			     		console.log(results);
			          }
			        );

				$.get(
			          configuration.URL_APPLICATION + "/api/faune",
			          function(results) {
			          	var rand1 = Math.floor(Math.random()*(results.length-0)+0);
			          	var rand2 = Math.floor(Math.random()*(results.length-0)+0);
			          	if(rand2==rand1 && rand2 != results.length-1) rand2=rand2+1;
			          	if(rand2==rand1 && rand2 != 0) rand2=rand2-1;

			            var fauneLatin1 = document.getElementById("fauneLatin1");
			            fauneLatin1.innerHTML="<i>"+results[rand1].nomLatin+"</i>";

			            var fauneValide1 = document.getElementById("fauneValide1");
			            fauneValide1.innerHTML = "<b>"+results[rand1].nomValide+"</b>";

			            var imageFaune1 = document.getElementById("imageFaune1");
			            imageFaune1.href="/espece/"+results[rand1].num;

			            var ficheFaune1 = document.getElementById("ficheFaune1");
			            ficheFaune1.innerHTML="<a href='/espece/"+results[rand1].num+"' class='btn btn-default' role='button'>Fiche espèce</a>";

			            $.get(
							configuration.URL_APPLICATION + "/api/media/"+results[rand1].num,
			          		function(resultsMedia) {
			          			console.log(resultsMedia);
				          		if(resultsMedia.length !== 0) {
				          			var mediaFaune1 = document.getElementById("mediaFaune1"); 
				          			mediaFaune1.innerHTML = "<div class='img-custom-medias cover' style='background-image: url("+resultsMedia[0].url+")'></div>";
				          		} else {
				          			var mediaFaune1 = document.getElementById("mediaFaune1"); 
				          			mediaFaune1.innerHTML = "<div class='img-custom-medias cover' style='background-image: url(https://svgsilh.com/svg/1254586.svg) ; width:70% ; margin-left:20px'></div>";
				          		}
			          		}

						);


			            var fauneLatin2 = document.getElementById("fauneLatin2");
			            fauneLatin2.innerHTML="<i>"+results[rand2].nomLatin+"</i>";

			            var fauneValide2 = document.getElementById("fauneValide2");
			            fauneValide2.innerHTML = "<b>"+results[rand2].nomValide+"</b>";

			            var imageFaune2 = document.getElementById("imageFaune2");
			            imageFaune2.href="/espece/"+results[rand2].num;

			            var ficheFaune2 = document.getElementById("ficheFaune2");
			            ficheFaune2.innerHTML="<a href='/espece/"+results[rand2].num+"' class='btn btn-default' role='button'>Fiche espèce</a>"
			           
			            $.get(
							configuration.URL_APPLICATION + "/api/media/"+results[rand2].num,
			          		function(resultsMedia) {
			          			console.log(resultsMedia);
				          		if(resultsMedia.length !== 0) {
				          			var mediaFaune2 = document.getElementById("mediaFaune2"); 
				          			mediaFaune2.innerHTML = "<div class='img-custom-medias cover' style='background-image: url("+resultsMedia[0].url+")'></div>";
				          		} else {
				          			var mediaFaune2 = document.getElementById("mediaFaune2"); 
				          			mediaFaune2.innerHTML = "<div class='img-custom-medias cover' style='background-image: url(https://svgsilh.com/svg/1254586.svg); width:70% ; margin-left:20px'></div>";
				          		}
			          		}

						);

			     		console.log(results);
			          }
			        );

			</script>
    </body>
</html>
